<div class="row">
    <div class="col-6">
        <img src="https://www.pharmamanufacturing.com/assets/Media/0604/millipore_quikscale.jpg" alt=""
            class="img img-responsive  w-100">
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <h1>Product name</h1>

                <div>
                    <h3>Amount : $324</h3>
                    <h4>dis : $4</h4>
                    <p>
                        Lorem ipsum dolor!
                    </p>
                </div>
                <div>
                    <h3>Information</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto blanditiis provident id, dolorum
                        voluptatem doloribus similique quae harum doloremque earum nulla, neque deleniti. Dignissimos
                        eaque assumenda voluptates commodi obcaecati non!
                    </p>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <form>
                            <select class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-6">
                    <a href="#" class="btn btn-primary"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add to
                        Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>